.container {
    display: flex;
    justify-content: space-between;
    gap: $gutter;
    flex-wrap: wrap;
    padding: 0 $gutter;
    box-sizing: border-box;
}

.sgrid, .lgrid {
    box-sizing: border-box;
    padding: $gutter;
    flex: 1 1 0; // Esto asegura que ambas columnas crezcan y se contraigan en el espacio disponible
}

.sgrid {
    width: 30%;
    border-right: 2px solid $primary-color;
    
    @media (max-width: 768px) {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid $primary-color;
    }
}

.lgrid {
    width: 70%;
    
    @media (max-width: 768px) {
        width: 100%;
    }
}
