#board {
    border: 1px solid black;
    height: 400px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    text-align: center;

    div {
        height: auto;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 10px;
    }
}

img {
    height: auto;
    display: inline-block;
    width: auto;
    justify-self: center;
}

#win {
    text-align: center;
}